
.container-about{
    background-color: #0E0E0E;
    padding: 10vh 10vh 10vh 10vh;
}
.foto{
    height: 50vh;
}
.container-sobreMi{
    margin-left: 15vh;
}
.aboutMe{
    color: white;
}
.container-habilidades{
    margin: 20px;
}
