.container-experiencia{
    background-color: black;
    padding: 10vh 10vh 10vh 10vh;;
}
.logos{
    height: 10vh;
    margin: 10vh 0 0 10vh ;
}
.titulos-logos{
    margin: 2vh 0 0 12vh;
    color: white;
}